In [3]:
import pandas as pd
import sqlite3
from sqlite3 import Error

In [ ]:
# Read file as is into pandas dataframe
resort = pd.read_csv('oceanview_sunrise_complete.csv',  
                           sep=',',
                           engine='python',
                           index_col= False,
                           na_values = ['NA', 'N/A'],
                           header=None,
                           skiprows = [0],
                           names = ['invoice_id','first_name','last_name','state','rank_by_state','zip','check_in','bedrooms',
                           'weekly_rate','rent_discount','total_sale','sum_total','parking','mgmt_discount','pool_access',
                           'repeat_customer','year','currency','address','city','county','customer_phone','personal_email','customer_id']) 
                           
                           
resort.head().append(resort.tail())

In [5]:
# Function creates connection for the given pass
def create_connection(path):
    connection = None
    try:
        connection = sqlite3.connect(path)
        print("Connection to SQLite DB successful")
    except Error as e:
        print(f"The error '{e}' occurred")

    return connection

# Where to connect to for future connections
con = create_connection('SQL/sqldatabase.db')

Connection to SQLite DB successful

In [6]:
# Cursor setup
cur = con.cursor()

# Create table
cur.execute('''CREATE TABLE IF NOT EXISTS oceanview_sunrise (invoice_id text,first_name text,last_name text,\
    state text,rank_by_state numbers,zip text,check_in text,bedrooms text,weekly_rate number, rent_discount number,\
        total_sale number,sum_total numbers, parking text, mgmt_discount text,pool_access text,\
            repeat_customer text,year text,currency number,address text, city text,county text,customer_phone text,\
                personal_email text,customer_id text)''')

con.commit()

resort.to_sql('oceanview_sunrise', con, if_exists='replace', index = False)

cur.execute('''  
SELECT * FROM oceanview_sunrise
          ''')

In [7]:
# Function to query database
def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query executed successfully")
    except Error as e:
        print(f"The error '{e}' occurred")

In [27]:
# Add two entries 
user_added = """
INSERT INTO oceanview_sunrise (invoice_id,first_name,last_name,state,rank_by_state,zip,check_in,bedrooms,\
    weekly_rate,rent_discount,total_sale,sum_total,parking,mgmt_discount,pool_access,repeat_customer,\
    year,currency,address,city,county,customer_phone,personal_email,customer_id)
VALUES
  ("564-586-5687","Frank","Smith","KY",0,56984,"2022-05-05",2,750,0.85,0,0,0,1,0,0,2022,"USD","35 South Hampton","Lexington","NaN","985-654-2587","f.smith@gmail.com","A00452"),
  ("564-586-5687","Frank","Smith","KY",0,56984,"2022-05-05",2,750,0.85,0,0,0,1,0,0,2022,"USD","35 South Hampton","Lexington","NaN","985-654-2587","f.smith@gmail.com","A00453")
"""

execute_query(con, user_added)

Query executed successfully

In [28]:
# Deletes extra entry
delete_entry = """DELETE FROM oceanview_sunrise WHERE customer_id = 'A00453'"""
execute_query(con, delete_entry)

Query executed successfully

In [ ]:
# Closes database 
con.close()